<div style="background:url(img/textures/linen.png)">
	<section id="hero" style="background-image:url(img/bg.jpg)">
		<div class="container-fluid">
			<div class="row">
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="5000">
                    <ol class="carousel-indicators">
                        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                      </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <center>
                            	<div style="position:relative;font-size:40px;margin-top:100px;color:white"><h1 style="color:white">Team Building To The Next Level</h1></div><br/>
                                <p style="color:white;font-size:20px;line-height:24px;padding-left:3%;padding-right:3%;text-transform:none;">Step up your performance with Sparrowz' corporate team building activities.</p><br/> 
                            </center>
                        </div>
                        <div class="item">
                            <center>
                                <div style="position:relative;font-size:40px;margin-top:100px;color:white"><h1 style="color:white">Team Building Done Right</h1></div><br/>
                                <p style="color:white;font-size:20px;line-height:24px;padding-left:3%;padding-right:3%;text-transform:none;">Team-building programmes that provide realistic experiences that empower individuals to contribute to common goals.</p><br/>
                            </center>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section><br/>
	<div class="container margin_60">
	    <div class="row">
	    	<div class="col-md-3 col-sm-3 col-xs-12">
	    		<div class="tour_container">
					<div class="img_container">
						<a href="yourQuests/employee-engagement">
    						<img src="img/corporates/Employee_Engagement.jpg" class="img-responsive" alt="Employee Engagement">
    						<div class="row short_info corporate_name">
                                <center>
									<h3 class="thName">Employee Engagement</h3>
								</center>
                            </div>
    						<div class="image_overlay">
							    <div class="overlay_text">
							    	Employee Engagement<br/>
							    	<p>Think you know your company inside and out? Put your employees to the test in a fun-filled way!</p>
							    </div>
							</div>
                        </a>
					</div>
					<div class="tour_title">
						<a href="yourQuests/employee-engagement">
							<div class="row addCorporateData">
								<span class="corporateTags" ng-repeat="item in corporateData.corporateList[0].corporateTags">#{{item.tagName}}</span><br/><br/>
							</div>
						</a>	
					</div>
				</div><!-- End box tour -->
	    	</div>
	    	<div class="col-md-3 col-sm-3 col-xs-12">
	    		<div class="tour_container">
					<div class="img_container">
						<a href="yourQuests/visitor-engagement">
    						<img src="img/corporates/Visitor_Engagement.jpg" class="img-responsive" alt="Visitor Engagement">
    						<div class="row short_info">
                                <center>
									<h3 class="thName">Visitor Engagement</h3>
								</center>
                            </div>
                            <div class="image_overlay">
							    <div class="overlay_text">
							    	Visitor Engagement<br/>
							    	<p>Get into the spirit of the holidays with themed events your teams will love. </p>
							    </div>
							</div>
                        </a>
					</div>
					<div class="tour_title">
						<a href="yourQuests/visitor-engagement">
							<div class="row addCorporateData">
								<span class="corporateTags" ng-repeat="item in corporateData.corporateList[1].corporateTags">#{{item.tagName}}</span><br/><br/>
							</div>
						</a>	
					</div>
				</div><!-- End box tour -->
	    	</div>
	    	<div class="col-md-3 col-sm-3 col-xs-12">
	    		<div class="tour_container">
					<div class="img_container">
						<a href="yourQuests/product-launch">
    						<img src="img/corporates/Product_Launch.jpg" class="img-responsive" alt="Product Launch">
    						<div class="row short_info">
                                <center>
									<h3 class="thName">Product Launch</h3>
								</center>
                            </div>
                            <div class="image_overlay">
							    <div class="overlay_text">
							    	Product Launch<br/>
							    	<p>Plan a memorable product launch event and put your product on track for increased sales.</p>
							    </div>
							</div>
                        </a>
					</div>
					<div class="tour_title">
						<a href="yourQuests/product-launch">
							<div class="row addCorporateData">
								<center>
									<span class="corporateTags" ng-repeat="item in corporateData.corporateList[2].corporateTags">#{{item.tagName}}</span><br/><br/>
								</center>	
							</div>
						</a>	
					</div>
				</div><!-- End box tour -->
	    	</div>
	    	<div class="col-md-3 col-sm-3 col-xs-12">
	    		<div class="tour_container">
					<div class="img_container">
						<a href="yourQuests/local-area-discovery">
    						<img src="img/corporates/Local_Area_Discovery.jpg" class="img-responsive" alt="Local Area Discovery">
    						<div class="row short_info">
                                <center>
									<h3 class="thName">Local Area Discovery</h3>
								</center>
                            </div>
                            <div class="image_overlay">
							    <div class="overlay_text">
							    	Local Area Discovery<br/>
							    	<p>Amp up the competition! Play in multiple locations across the city, explore the top sights and up the challenge ante for your teams.</p>
							    </div>
							</div>
                        </a>
					</div>
					<div class="tour_title">
						<a href="yourQuests/local-area-discovery">
							<div class="row addCorporateData">
								<span class="corporateTags" ng-repeat="item in corporateData.corporateList[3].corporateTags">#{{item.tagName}}</span><br/><br/>	
							</div>
						</a>	
					</div>
				</div><!-- End box tour -->
	    	</div>
	    	<div class="col-md-3 col-sm-3 col-xs-12">
	    		<div class="tour_container">
					<div class="img_container">
						<a href="yourQuests/real-world-games">
    						<img src="img/corporates/Real_World.jpg" class="img-responsive" alt="Real World Games">
    						<div class="row short_info">
                                <center>
									<h3 class="thName">Real World Games</h3>
								</center>
                            </div>
                            <div class="image_overlay">
							    <div class="overlay_text">
							    	Real World Games<br/>
							    	<p>Challenges and rewards that make it fun to explore, learn about, and interact with your destination.</p>
							    </div>
							</div>
                        </a>
					</div>
					<div class="tour_title">
						<a href="yourQuests/real-world-games">
							<div class="row addCorporateData">
								<span class="corporateTags" ng-repeat="item in corporateData.corporateList[4].corporateTags">#{{item.tagName}}</span><br/><br/>
							</div>
						</a>	
					</div>
				</div><!-- End box tour -->
	    	</div>
	    	<div class="col-md-3 col-sm-3 col-xs-12">
	    		<div class="tour_container">
					<div class="img_container">
						<a href="yourQuests/private-function">
    						<img src="img/corporates/Private_Function.JPG" class="img-responsive" alt="Private Function">
    						<div class="row short_info">
                                <center>
									<h3 class="thName">Private Function</h3>
								</center>
                            </div>
                            <div class="image_overlay">
							    <div class="overlay_text">
							    	Private Function<br/>
							    	<p>Time to let your imagination go wild! Create a custom adventure for your team, with the help of our talented event planners.</p>
							    </div>
							</div>
                        </a>
					</div>
					<div class="tour_title">
						<a href="yourQuests/private-function">
							<div class="row addCorporateData">
								<span class="corporateTags" ng-repeat="item in corporateData.corporateList[5].corporateTags">#{{item.tagName}}</span><br/><br/>
							</div>
						</a>	
					</div>
				</div><!-- End box tour -->
	    	</div>
	    	<div class="col-md-3 col-sm-3 col-xs-12">
	    		<div class="tour_container">
					<div class="img_container">
						<a href="yourQuests/campus-engagement">
    						<img src="img/corporates/Campus_Engagement.jpg" class="img-responsive" alt="Campus Engagement">
    						<div class="row short_info">
                                <center>
									<h3 class="thName">Campus Engagement</h3>
								</center>
                            </div>
                            <div class="image_overlay">
							    <div class="overlay_text">
							    	Campus Engagement<br/>
							    	<p>A better way for students to explore campus, get to know the campus culture, and connect with other students.</p>
							    </div>
							</div>
                        </a>
					</div>
					<div class="tour_title">
						<a href="yourQuests/campus-engagement">
							<div class="row addCorporateData">
								<span class="corporateTags" ng-repeat="item in corporateData.corporateList[6].corporateTags">#{{item.tagName}}</span><br/><br/>
							</div>
						</a>
					</div>
				</div><!-- End box tour -->
	    	</div>
	    	<div class="col-md-3 col-sm-3 col-xs-12">
	    		<div class="tour_container">
	    			<a href="contact">
		    			<div class="tour_title" style="background:url(img/textures/brickwall.png);pointer:cursor;">
							<center>
								<br/>
								<h4>Want to create your own <span>treasure hunts</span>?</h4>
								<br/>
								<h4 style="color:black;">Mob: +91-8277211477</h4>
								<a href="https://mail.google.com/mail/?view=cm&fs=1&to=shruti@indisparrow.com" target="_blank"><p style="font-size:16px;color:black;">shruti@indisparrow.com</p></a>
								<br/>
							</center>
						</div>
					</a>		
				</div><!-- End box tour -->
	    	</div>
	    </div>
	    <br/>
	    <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12" style="margin-right:auto;">
	            <div id="client-carousel" class=" owl-carousel owl-theme text-center client-carousel" >
	            	<div class="item client_logo">
	                    <img class="client-icon" src="img/client/1.png" alt="client">
	                </div>
	                <div class="item client_logo">
	                    <img class="client-icon" src="img/client/2.png" alt="client">
	                </div>
	                <div class="item client_logo">
	                    <img class="client-icon" src="img/client/3.png" alt="client">
	                </div>
	                <div class="item client_logo">
	                    <img class="client-icon" src="img/client/4.png" alt="client">
	                </div>
	                <div class="item client_logo">
	                    <img class="client-icon" src="img/client/5.png" alt="client">
	                </div>
	                <div class="item client_logo">
	                    <img class="client-icon" src="img/client/6.png" alt="client">
	                </div>
	                <div class="item client_logo">
	                    <img class="client-icon" src="img/client/7.png" alt="client">
	                </div>
	                <div class="item client_logo">
	                    <img class="client-icon" src="img/client/8.png" alt="client">
	                </div>
	                <div class="item client_logo">
	                    <img class="client-icon" src="img/client/9.png" alt="client">
	                </div>
	                <div class="item client_logo">
	                    <img class="client-icon" src="img/client/10.png" alt="client">
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<script>
	$(document).ready(function(){
	    $('.carousel').carousel({
	      interval: 5000
	    })
	 });  
	</script>  
	<script type="text/javascript">
	$(document).ready(function(){
		$("#client-carousel").owlCarousel({
	      autoPlay: 3000
	  	});
	});
</script>
</div>